/* medidas logo */
.logo{
    height: 80px;}


/* imagen principal en index */
.imagen-principal{
    background-image: url("./Images/bosque.png");
    background-size: cover;
    height: 600px;}

/* titulos,subtitulos sombre imagen principal */
.titulo-subtitulo {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color:white}

/* estilo bienvenida */
.bienvenida{
    display: flex;
    flex-wrap: wrap;/* corre las imagenes hacia abajo cuando no queda espacio en la pantalla */
    justify-content: right;/*centrando las imagenes de manera horizontal,para que queden en medio y no a la derecha ni izquerda*/}

/* imagen de .bienvenida */
.imagen-bienvenida{
    height: 300px;
    margin: 20px;
}